{% extends "base.html" %}
{% block title %} Контакты {% endblock %}
{% block header %} Контакты {% endblock %}

{% block content %}

<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Для отправки сообщения администратору сайта заполните форму ниже и Вам ответят как можно скорее!</p>
        <div class="my-5">
            <form method="post" id="contact">
                {% csrf_token %}
                <table><th>
                    {% for field in form %}
                    <p>{{field.label_tag}}</p>
                    {% for error in field.errors %}
                    {{error}}
                    {% endfor %}
                    <p>{{field}}</p>
                    {% endfor %}
                </table></th>
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Отправить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
